<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
    </head>
    
    <style>
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
    
    <body>
        <header th:replace="layout/navBar :: navBar" />
        
        <h1 class="center">ERP INS CAVALL BERNAT</h1>
        
        <table border="2" class="display">
                <tr align="center">
                    <th th:text="#{usuari.email}"/>
                    <th th:text="#{usuari.rol}"/>
                </tr>
                <!-- Recorregut dels usuaris. Cada usuari de l'ArrayList usuaris es guarda en la variable usuari-->
                <tr th:each="usuari : ${usuaris}" align="center"> 
                    <td th:text="${usuari.username}"/>
                    <td th:text="${usuari.rol}"/>
                </tr>
        </table>

    </body>
</html>
