<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
    </head>
    
    <style>
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
    
    <body>
        <header th:replace="layout/navBar :: navBar" />
        
        <h1 class="center" th:text="#{titol}"/>
    </body>
</html>
