<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{producte}"/>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1 th:text="#{producte}"/>
        <header></header>
        <div th:if="${productes!=null && !productes.empty}">
            <table border="1">
                <tr>
                    <th th:text="#{producte.nom}"/>
                    <th th:text="#{producte.preu}"/>
                    <th th:text="#{producte.categoria}"/>
                    <!--<th th:text="#{producte.stock}"/>-->
                    <th th:text="#{producte.unitat}"/>
                    <th th:text="#{producte.proveidor}"/>
                    <th th:text="#{editar}"/>
                    <th th:text="#{eliminar}"/>
                </tr>
                <tr th:each="producte : ${productes}"> 
                    <td th:text="${producte.nom}"></td>
                    <td th:text="${producte.preu}"></td>
                    <td th:text="${producte.categoria}"></td>
                    <!--<td th:text="${producte.stock}"></td>-->
                    <td th:text="${producte.unitat}"></td>
                    <td th:text="${producte.cifProveidor}"></td>
                    <td><a th:href="@{/editar/}+${producte.id_Producte}" th:text="Editar"/></td>
                    <td><a th:href="@{/editar/}+${producte.id_Producte}" th:text="Editar"/></td>
                </tr>
            </table>
        </div>
        <div th:if="${productes==null || productes.empty}">
            No hi ha productes a la llista.
        </div>  
        
            <label for="crearProducte" th:text="#{producte.crearProducte}"/>
            <a th:href="@{/crearProducte}">
                <input type="submit" name="enviar" value=""  th:href="@{/crearProducte}"/></a>
        
        <footer th:replace="layout/plantilla :: peu" />
    </body>
</html>
